
.form{
    background-color:#A1B57D;
    width: 40%;
    padding: 2rem;
    text-indent: 1rem;
    border-radius: 5%;
    margin-left: 28%;
}
input{
    height: 2.5rem;
    border-width: 4px;
    width:60% ;
    border-radius: 5%;
    border-style:none;
    background-color:#D3ECA7;
    font-size: 1.5rem;
}
input:active{
    border-color: #A1B57D;
}
label{
    font-size: 1.5rem;
}
h1{
    text-align: center;
}
.space{
    padding: 2rem;
}